#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png);
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 2%;
    height: 30%;
    top: 20%;
    left: 49.1%;
    opacity: 0.8;
    background: black;
}

#minute{
    width: 1.5%;
    height: 39%;
    top: 11%;
    left: 49%;
    opacity: 0.8;
    background: goldenrod;
}

#second{
    width: 1%;
    height: 35%;
    top: 15%;
    left: 49.5%;
    opacity: 0.8;
    background: brown;
}